.content-wrapper {
  @apply flex mt-10 mb-10;
}

.the-content {
  border-left: 1px solid $border-color;
  width: calc(100% - 300px);
  padding-left: 25px;
}

.gist-list {
  li {
    margin-top: 25px;

    a {
      display: block;
      margin-bottom: 5px;
    }
  }
}